* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  width: 100%;
  /* 
      if we want the body height to grow along with content and also set a fixed height
  */
}

h1 {
  border: 2px dashed red;
  width: 50%;
  font-size: 3rem;
  padding: 0.5em;
  /*
          in this case u want to keep the border take absolute unit
          cuz we dont want the browser to change the border.
  */
}

p {
  font-size: 2rem;
  width: 40ch;

  /*   font-size: 20px;
   when you change the font size  settings in browser absolute unit does not change the pixels
           so thats y use relative units */
}

main {
  font-size: 2rem;
}
