@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap");

body {
  padding: 5% 10%;
  font-size: 1.5rem;
  font-family: "Source Sans Pro", sans-serif;
}

ol {
  list-style-type: lower-roman;
  /* padding: 0; */
}

ul {
  list-style-type:  "👉  ";
  /* text-align: center;
  list-style-position: inside; */
  color: blue;
  line-height: 1.6;
  /* list-style-image: url("img/checkmark.png");
  list-style: square url("img/checkmark.png") inside; */
  /* shorthand */
}

ul li:nth-child(even) {
  color: red;
}

ul ::marker {
  color: red;
  font-size: 1em;
  font-family: fantasy;
  /* content: "5$>>  "; */
}
